<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
<div class="wrapper">
    <h1> Welcome to Ninja Gold</h2>
    <img class="mainimg" src="{{ url_for('static', filename='img/ninja.png') }}" alt="ninja">
    <h2> help this guy get paid!!</h2> 

    <div class="buttons">
        <form action='/process' method='post'>
            <input type="hidden" name="action" value="farm">
            <input type='submit' value='Farm'>
        </form>
        <form action='/process' method='post'>
            <input type="hidden" name="action" value="cave">
            <input type='submit' value='Cave'>
        </form>
        <form action='/process' method='post'>
            <input type="hidden" name="action" value="house">
            <input type='submit' value='House'>
        </form>
        <form action='/process' method='post'>
            <input type="hidden" name="action" value="casino">
            <input type='submit' value='Casino'>
        </form>
    </div>
    <div class="bank">
    <h4>Your Bank</h4>
    <p style="color:green">${{session['bank']}}</p>
    </div>
</div>
</body>
</html>