* {
    margin: 0px;
    padding: 0px;
    /*outline: 1px dashed green; */
}
.wrapper {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 1000px;
    height: 1000px;
    background-color: #245176;
}
h2 {
    color: goldenrod;
    margin-top: 30px;
    display: block;
    margin-left: 80px;
}
h1 {
    color: purple;
    margin-left: 50px;
    margin-bottom: 40px;
}
img {
    width: 200px;
    height: 200px;
    margin-left: 100px;

}
.content {
    width: 300px;
}
.buttons {
    display: flex;
    margin-left: 40px;
}
form{
    margin: 20px;
}
h4{
    margin-bottom: 10px;
    font-size: 50px;
}
.bank{
    border: 3px dotted green;
    width: 150px;
    height: 180px;
    padding: 20px;
    margin-left: 110px;
}
p {
    font-size: 50px;
}